body {
    font-family: 'Roboto', sans-serif;
    }
/* Navbar */

.navalert-container {
    position: static;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 30, 9, 0.8);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* footer */



/* hero image styles adapted from love running walkthrough */

#hero-image {
    height:600px;
    width: 100%;
    background: url("../images/herocave.png") no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

#hero-outer {
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text, #cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 120%;
    letter-spacing: 4px;
    text-align: center;

    width: 300px;
    height: 300px;

    padding: 10px;

    background-color: rgba(0, 30, 9, 0.8);

    top: 30px;
    left: 30px;
    
    position: absolute;

}

/* rows *//*colours *//* adapted from resume walkthrough*/

.referrals h2{
    background-color: #ffffff;
    color: #003009;
}

.referrals {
    background-color: #ffffff;
    color: #003009;

}

.plot-hooks {
    background-color: #003009;
    color: #ffffff;

}

.quest-info {
    background-color: #003009;
    color: #ffffff;
}

.quest-layout {
    background-color: #ffffff;
    color: #003009;
}


.adversaries {
    background-color:  #003009;
    color: #ffffff;
}

.adv-sheet-color-1 {
    background-color: yellow;
}

.adv-sheet-color-2 {
    background-color: blue;
}

.adv-sheet-color-3 {
    background-color: orangered;
}

.adv-sheet-color-4 {
    background-color: purple;
}

.adv-sheet-color-5 {
    background-color: darkslategrey;
}

.adv-sheet-color-6 {
    background-color: green;
}

.adv-sheet-color-7 {
    background-color: red;
}

/* contact us page mostly from love running walkthrough */

.form-section {
    clear: left;
    background: url("../images/contactusback.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.contact-us {

    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 350px;
    position: absolute;
    padding:5px;
}

.contact-us h2 {
    color: #fff;
    margin-bottom: 5px;
  
}

.text-input {
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 10px 0;
    border: 1px solid #fff;
    border-radius: 2px;
  
}

.text-input:hover {
    border-color: #003009;
}

.tell-us {
    margin-top: 10px;
    border-radius: 2px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #003009;
    color: #ffffff;
    display: block;
}

.tell-us:hover {
    background-color: #ffffff;
    color: #003009;
}

.contact-text {
    font-size: 100%;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;

    width: 350px;
    height: 125px;

    padding: 10px;

    background-color: rgba(0, 30, 9, 0.8);
    
}

/* Quest page non color styling */

.quest-info {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

/* download button styling */

.adv-sheet {
    margin: 0;
    height: 75px;
    text-align: center;
    padding: 0;
}

.adv-sheet a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 75px;
}

.adv-sheet a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.adv-sheet span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 75px;
}
